<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Fraude</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/logo.ico">
    <link rel="stylesheet" href="../styles/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <a href="asesores_home.html">Inicio</a>
        <a href="#">Soporte</a>
        <a href="#">Contactos</a>
        
    </nav>

    <div class="logo-title">
        <img src="../static/logo.png" alt="Logo Shield Bank" class="logo">
        <h2>dataforge</h2>
    </div>

    <div class="user-greeting">
        <div class="greeting-container">
            <img src="../static/ico_us.png" alt="Usuario" class="user-icon"> 
            <span id="greeting"></span>
        </div>
        <button id="logout-button" onclick="logout()">Cerrar sesión</button>
    </div>
    
    
    

    <div class="circle circle-large"></div>
    <div class="circle circle-purple"></div>
    <div class="circle circle-blue"></div>
    <div class="circle circle-pink"></div>

    <div class="power"> 
        <iframe title="analisis_dashboard"  src="https://app.powerbi.com/view?r=eyJrIjoiZmVmZTUxOTAtMmFmMS00MWNlLThjYjUtNDY5NTBhZjAzZGZjIiwidCI6Ijc4ZTVhNTJkLTgxYjctNDc3NS05MTE0LTE3ODJiMjY0MTU4MSIsImMiOjR9&pageName=730300c1d097a30d9863" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    
    

    <script>
        // Recuperar el nombre de usuario de localStorage
        const username = localStorage.getItem('username');
        if (username) {
            document.getElementById('greeting').textContent = `Hola, ${username}!`; 
        } else {
            document.getElementById('greeting').textContent = 'Hola, visitante!';
        }
    </script>

    <script src="../scripts.js"></script>
</body>
</html>
