<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shield Bank</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/SBLogo.ico">
    <link rel="stylesheet" href="../styles/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="../static/SBLogo.png" alt="Shield Bank Logo">
                <h1>Shield Bank</h1>
            </div>
            <div class="user-info">
                <div class="text-info">
                    <p>Bienvenido</p>
                    <p class="user-name"></p>
                    <a class="logout" onclick="logoutBank()">Cerrar sesión</a>
                </div>
                <div class="user-icon">
                    <img src="../static/ico_clie.png" alt="User Icon">
                </div>
            </div>
        </header>
        <div class="main-content">
            <nav>
                <ul>
                    <li><a class="select" href="clientes_cuenta.html">Cuenta</a></li>
                    <li><a href="#">Tarjetas</a></li>
                    <li><a href="#">Transferencias</a></li>
                    <li><a href="#">Pagos</a></li>
                    <li><a href="#">Inversiones</a></li>
                </ul>
            </nav>
            <main>
                <h2>Cuenta</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Tipo de cuenta</th>
                            <th>Moneda</th>
                            <th>Estado</th>
                            <th>Número</th>
                            <th>Saldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Caja de ahorro</td>
                            <td>$</td>
                            <td>Activa</td>
                            <td>214565543</td>
                            <td>3225,25</td>
                        </tr>
                    </tbody>
                </table>
            </main>
        </div>
    </div>
    <script src="../scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const username = localStorage.getItem('username');
            if (username) {
                document.querySelector('.user-name').textContent = username;
            }
        });

        function logoutBank() {
            localStorage.removeItem('username');
            window.location.href = 'clientes_inicio.html';
        }
    </script>
</body>
</html>
