<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shield Bank</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/SBLogo.ico">
    <link rel="stylesheet" href="../styles/style.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body class="home-body">
    <!-- Barra de navegación -->
    <nav class="navbar">
        <a href="#">Sobre nosotros</a>
        <a href="#">Servicios</a>
        <a href="#">Contactos</a>
    </nav>
    <a href="#" class="new-client-button">Hazte cliente</a>
    <!-- Contenido principal -->
    <div class="content">
        <div class="text-section">
            <h1>La seguridad que buscas, la confianza que mereces.</h1>
        </div>
        <div class="login-sections">
            <div class="logo-titles">
                <img src="../static/SBLogo.png" alt="Logo Shield Bank" class="logos" >
                <h2>Shield Bank</h2>
            </div>
            <div class="login-visual">
                <input type="text" id="username" placeholder="Usuario" onclick="clearPlaceholder(this)" onblur="restorePlaceholder(this, 'Usuario')">
                <input type="password" id="password" placeholder="Contraseña" onclick="clearPlaceholder(this)" onblur="restorePlaceholder(this, 'Contraseña')">
                <a href="#" class="forgot-password">Olvidé mi contraseña</a>
                <button class="login-button" onclick="loginBank()">Iniciar sesión</button>
            </div>
        </div>
    </div>
    <script src="../scripts.js"></script>
    <script>
        function loginBank() {
            const username = document.getElementById('username').value;
            localStorage.setItem('username', username);
            window.location.href = 'clientes_cuenta.html'; 
        }

        function clearPlaceholder(element) {
            element.placeholder = '';
        }

        function restorePlaceholder(element, placeholder) {
            element.placeholder = placeholder;
        }
    </script>
</body>
</html>
